<h1>Expense Impact on FI Date</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category</th>
                <th>FI Budget</th>
                <th>Impact on FI Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of spendingCategoriesWithImpact">
                <td>{{ c.category.name }}</td>
                <td>{{ c.category.fiBudget | currency:calculateInput.currencyIsoCode }}</td>
                <td>
                    <span [ngClass]="{'d-none': c.isFi === true}">
                        <i class="fas fa-plus-circle"></i>
                    </span>
                    <span [ngClass]="{'d-none': c.isFi !== true}">
                        <i class="fas fa-check-circle"></i>
                    </span>
                    {{ c.impactDate }}
                </td>
            </tr>
        </tbody>
    </table>
</div>