.chart-wrapper {
  container-type: inline-size;
}

.milestones-chart {
  height: 60vh;
}

/* Extra margin when legend is below the chart (container < 750px) */
@container (max-width: 749px) {
  .milestones-chart {
    margin-bottom: 8vh;
  }
}
