<h3>
  Milestones of Financial Independence
</h3>
<div class="text-secondary"><a href="http://fi180.com/2017/06/26/the-milestones-of-fi/" target="fi-read-more">The
    Milestones of FI - FI180 <i class="fas fa-external-link-square-alt fa-sm"></i></a></div>

<div class="row">
  <app-milestones-chart class="milestones-chart col-sm" [forecast]="forecast" [milestones]="milestones">
  </app-milestones-chart>
</div>

<div class="row">
  <app-milestones-text class="milestones-text col-sm" [forecast]="forecast" [milestones]="milestones">
  </app-milestones-text>
</div>