/* https://github.com/ng-bootstrap/ng-bootstrap/issues/2337#issuecomment-384327123 */

::ng-deep > button {
  width: 100%;
  height: 100%;
}

::ng-deep ngb-accordion .card-header > button {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1.25rem; /* Or whatever padding you would have applied in the next rule*/
}

.budgetForm {
  word-break: break-word;
  container-type: inline-size;
}
.budgetForm td {
  min-width: 60px;
}

.thead-sum th,
.thead-sum td {
  border: none;
}

table.expenses {
  font-size: 0.8rem;
}

/* Mobile currency display */
.mobile-currency,
.mobile-only {
  display: none;
}

@container (max-width: 450px) {
  .mobile-currency {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
  }
  .mobile-only {
    display: inline;
  }
  .desktop-only {
    display: none;
  }
}
