<form [formGroup]="budgetForm">

  <ngb-accordion [closeOthers]="false">
    <ngb-panel id="p-netWorth">
      <ng-template ngbPanelTitle>
        <span>Net Worth - {{budgetForm.value.netWorth | number}}</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="form-group row">
          <label for="netWorth" class="col-sm-12 col-md-5 col-form-label">Net Worth</label>
          <div class="col">
            <input type="number" class="form-control" id="netWorth" formControlName="netWorth" step="1000">
          </div>
        </div>
        <div class="row">
          <div class="col">
            Calculated as the sum of all Budget and Tracking accounts.
            <div>
              <small>
                <a target="fi-read-more" href="http://www.mrmoneymustache.com/2015/01/26/calculating-net-worth/">Calculating Net Worth - Mr. Money Mustache
                  <i class="fas fa-external-link-square-alt fa-sm"></i>
                </a>
              </small>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="p-contributions">
      <ng-template ngbPanelTitle>
        <span>Contributions - {{budgetForm.value.monthlyContribution | number}}</span>
      </ng-template>

      <ng-template ngbPanelContent>
        <div class="form-group row">
          <label for="monthlyContribution" class="col-sm-12 col-md-5 col-form-label">Monthly Investment Contribution</label>
          <div class="col">
            <input type="number" class="form-control" id="monthlyContribution" formControlName="monthlyContribution" step="100">
          </div>
          <!-- <div class="col-sm-1">
            <button type="button" class="btn btn-link" (click)="displayContributionInfo = !displayContributionInfo">
              <i class="fas fa-info-circle"></i>
            </button>
          </div> -->
        </div>
        <div class="row" *ngIf="contributionCategories && contributionCategories.length">
          <table class="table col-12">
            <thead class="thead-light">
              <tr>
                <th>Category Name</th>
                <th>Contribution</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of contributionCategories">
                <td>{{category.name}}</td>
                <td>{{category.value | number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="displayContributionInfo">
          <div class="row">
            <div class="col-12" >
              <h4>Reading Contributions from YNAB</h4>
              <p>The following category groups are automatically counted as contributions: </p>
              <ul>
                <li>Financial Independence</li>
                <li>Investments</li>
                <li>Retirement</li>
                <li>FIRE</li>
              </ul>
              <p><span>If you would like to override the budgeted amount add <code>BR4 + <i>amount</i></code></span>
                (e.g. <code>BR4 + 1000</code>) to the notes of that category. This is useful for including contributions to employer accounts that aren't budgeted.</p>


            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img src="assets/images/FiCategory.png" class="img-fluid" alt="Category Image">
            </div>
            <div class="col-12">
              <img src="assets/images/ContributionNotes.png" class="img-fluid" alt="Contribution Notes">

            </div>
            <div class="col-12">
              <p class="small">(When editing a category's Notes, use <kbd>shift + enter</kbd> or <kbd>shift + return</kbd> to create a new line.)</p>
            </div>

          </div>
        </div>

      </ng-template>
    </ngb-panel>
    <ngb-panel id="p-expenses">
      <ng-template ngbPanelTitle>
        <span>Expenses - {{expenses.fi.annual | number}}</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <table class="table col-12">
            <thead class="thead-light">
              <tr>
                <th>Calculated</th>
                <th>YNAB</th>
                <th>FI</th>
                <th>Lean FI</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Monthly Expenses</th>
                <td>{{expenses.ynab.monthly | number}}</td>
                <td>{{expenses.fi.monthly | number}}</td>
                <td>{{expenses.leanFi.monthly | number}}</td>
              </tr>
              <tr>
                <th>Estimated Annual Expenses</th>
                <td>{{expenses.ynab.annual | number}}</td>
                <td>{{expenses.fi.annual | number}}</td>
                <td>{{expenses.leanFi.annual | number}}</td>
              </tr>
            </tbody>
            <thead class="thead-light">
              <tr>
                <th>Category</th>
                <th>YNAB Budget</th>
                <th>FI Budget</th>
                <th>Lean FI Budget</th>
              </tr>
            </thead>
            <tbody formArrayName="categoryGroups">
              <ng-container *ngFor="let categoryGroup of categoryGroups.controls; let i=index" [formGroupName]="i">
                <tr>
                  <th colspan="4">{{categoryGroup.value.name}}</th>
                </tr>
                <ng-container formArrayName="categories">
                  <tr *ngFor="let category of categoryGroup.get('categories').controls; let j=index" [formGroupName]="j">
                    <td>{{category.value.name}}</td>
                    <td>{{category.value.retrievedBudgeted | number}}</td>
                    <td>
                      <input class="form-control" formControlName="fiBudget" type="number" />
                    </td>
                    <td>
                      <input class="form-control" formControlName="leanFiBudget" type="number" />
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
          <div class="row">
            <div class="col-12">
              <h4>Reading Budgeted Categories from YNAB</h4>
              <p>The following category groups are automatically budgeted to 0 for Financial Independence: </p>
              <ul>
                <li>Financial Independence - You're already FI, no need to keep saving!</li>
                <li>Debt Payments - For simplicity, lets assume this is all paid off</li>
                <li>Credit Card Payments - For simplicity, lets assume this is all paid off</li>
              </ul>
              <p>In addition, the following category groups are automatically budgeted to 0 for Lean Financial Independence: </p>
              <ul>
                <li>Just For Fun - Lean FI is all about saying you could just make it by</li>
                <li>Quality of Life Goals - Theoretically, these goals aren't required to live a bland but financially independent life</li>
              </ul>
              <p>If you would like to override the FI Budget value add <code>BR4 FI <i>amount</i></code>
                (e.g. <code>BR4 Fi 500</code>) to the notes of that category. For Lean FI, use <code>BR4 LFI <i>amount</i></code>
              </p>
            </div>
        </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</form>
