<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9">
      <h2>Financial Independence</h2>

      <p>Financial Independence is the idea that if you can save up enough money, eventually the earnings on those
        investments can cover your expenses and "work" becomes optional.</p>

      <p>Read more at YNAB: <a href="https://www.youneedabudget.com/is-the-fire-movement-for-you/" target="_blank">Is the FIRE movement
          for you?</a></p>

      <p>One of the obstacles with FI is that it's a marathon, not a sprint. It might be tough to stay motivated if you
        can't visualize how the small choices you make today vastly benefit the future.</p>

      <p>So... what if you could foreshadow the future based on the actions of today? </p>

      <p>
        <a routerLink="/forecasting" class="btn btn-success btn-lg mt-3">FI Forecasting <fa-icon [icon]="['fas', 'forward']"></fa-icon></a>
      </p>
    </div>
    <div class="d-none d-lg-block col-lg-3 text-center">
      <fa-icon [icon]="['fas', 'running']" class="giant-icon mt-5"></fa-icon>
    </div>
  </div>
</div>