<div class="container">
  <h3>Financial Independence</h3>

  <p>Financial Independence is the idea that if you can save up enough money, eventually the earnings on those investments can cover your expenses and "work" becomes optional.</p>

  <p>Read more at YNAB: <a href="https://www.youneedabudget.com/is-the-fire-movement-for-you/">Is the FIRE movement for you?</a></p>

  <p>One of the obstacles with FI is that it's a marathon, not a sprint. It might be tough to stay motivated if you can't visualize how the small choices you make today vastly benefit the future.</p>

  <p>So... what if you could foreshadow the future based on the actions of today? </p>

  <p><a routerLink="/forecasting" class="btn btn-primary btn-lg">FI Forecasting</a></p>


</div>
