<h3>Basic Info</h3>
<form [formGroup]="basicInputForm">
  <h5>Controllable Destiny</h5>
  <div class="form-group">
      <label for="netWorth">Net Worth</label>
      <input
        formControlName="netWorth"
        type="number" step="5000" class="form-control" id="netWorth" aria-describedby="netWorthHelp" placeholder="50000">
      <small id="netWorthHelp" class="form-text text-muted">Current total Net Worth</small>
      <div><small><a target="fi-read-more" href="http://www.mrmoneymustache.com/2015/01/26/calculating-net-worth/">Calculating Net Worth - Mr. Money Mustache <i class="fas fa-external-link-square-alt fa-sm"></i></a></small></div>
    </div>
    <div class="form-group">
      <label for="annualExpenses">Annual Expenses</label>
      <input
        formControlName="annualExpenses"
        type="number" step="100" class="form-control" id="annualExpenses" aria-describedby="annualExpensesHelp" placeholder="30000">
      <small id="annualExpensesHelp" class="form-text text-muted">The average amount spent per year</small>
    </div>
    <div class="form-group">
      <label for="leanAnnualExpenses">Lean FI Annual Expenses</label>
      <input
        formControlName="leanAnnualExpenses"
        type="number" step="100" class="form-control" id="leanAnnualExpenses" aria-describedby="leanAnnualExpensesHelp" placeholder="20000">
      <small id="leanAnnualExpensesHelp" class="form-text text-muted">The yearly minimum needed to cover essential expenses</small>
      <div><small><a target="fi-read-more" href="http://fi180.com/2017/06/26/the-milestones-of-fi/">The Milestones of FI - Financial 180 <i class="fas fa-external-link-square-alt fa-sm"></i></a></small></div>
    </div>
    <div class="form-group">
      <label for="monthlyContribution">Monthly Contribution</label>
      <input
        formControlName="monthlyContribution"
        type="number" step="100" class="form-control" id="monthlyContribution" aria-describedby="monthlyContributionHelp" placeholder="1000">
      <small id="monthlyContributionHelp" class="form-text text-muted">Direct monthly contribution to savings</small>
    </div>

    <h5>Fate of the Market</h5>
    <div class="form-group">
      <label for="annualSafeWithdrawalRate">Annual Safe Withdrawal Rate</label>
      <div class="input-group">
        <input
          formControlName="annualSafeWithdrawalRate"
          type="number" step="0.25" class="form-control" id="annualSafeWithdrawalRate" aria-describedby="annualSafeWithdrawalRateHelp" placeholder="4.0">
        <div class="input-group-append">
          <span class="input-group-text">%</span>
        </div>
      </div>
      <small id="annualSafeWithdrawalRateHelp" class="form-text text-muted">Safe Withdrawl Rate</small>
      <div><small><a target="fi-read-more" href="https://www.madfientist.com/safe-withdrawal-rate/">4% (Floor of 3.5%) - Mad Fientist <i class="fas fa-external-link-square-alt fa-sm"></i></a></small></div>
      <div><small><a target="fi-read-more" href="http://www.mrmoneymustache.com/2012/05/29/how-much-do-i-need-for-retirement/">4% - Mr. Money Mustache <i class="fas fa-external-link-square-alt fa-sm"></i></a></small></div>
    </div>
    <div class="form-group">
        <label for="expectedAnnualGrowthRate">Expected Annual Growth Rate</label>
        <div class="input-group">
          <input
            formControlName="expectedAnnualGrowthRate"
            type="number" step="0.25" class="form-control" id="expectedAnnualGrowthRate" aria-describedby="expectedAnnualGrowthRateHelp" placeholder="8">
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>
        <div><small id="expectedAnnualGrowthRateHelp" class="form-text text-muted">Expected Annual Growth Rate</small></div>
        <div><small><a target="fi-read-more" href="http://www.mrmoneymustache.com/2011/06/06/dude-wheres-my-7-investment-return/">7% - Mr. Money Mustache <i class="fas fa-external-link-square-alt fa-sm"></i></a></small></div>
      </div>
</form>
