<h1>
  Milestones of Financial Independence
</h1>
<div class="text-secondary"><a href="http://fi180.com/2017/06/26/the-milestones-of-fi/">The Milestones of Fi - FI180</a></div>
<div>
  <div><a href="http://www.mrmoneymustache.com/2015/01/26/calculating-net-worth/">Calculating Net Worth - Mr. Money Mustache</a></div>
  <div class="form-group">
    <label for="annualExpenses">Annual Expenses</label>
    <input
      [(ngModel)]="annualExpenses"
      type="number" step="10000" class="form-control" id="annualExpenses" aria-describedby="annualExpensesHelp" placeholder="30000">
    <small id="annualExpensesHelp" class="form-text text-muted">The average amount spent per year</small>
  </div>
  <div class="form-group">
    <label for="netWorth">Annual Expenses</label>
    <input
      [(ngModel)]="netWorth"
      type="number" step="10000" class="form-control" id="netWorth" aria-describedby="netWorthHelp" placeholder="150000">
    <small id="netWorthHelp" class="form-text text-muted">Your total Net Worth</small>
  </div>
</div>
