<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <a class="navbar-brand d-flex align-items-center" routerLink="/">
    <img src="assets/favicon-96x96.png" alt="Beyond Rule 4 Logo" width="40" height="40" class="me-2">
    <span class="fw-bold" style="font-style: italic;">Beyond</span>&nbsp;Rule 4
  </a>
  <button class="navbar-toggler" type="button" (click)="isOpen = !isOpen" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngClass]="{collapse: !isOpen}" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item" routerLinkActive="active" routerLink="/beyond">
        <a class="nav-link">Beyond</a>
      </li>
      <li class="nav-item" routerLinkActive="active" routerLink="/forecasting">
        <a class="nav-link">FI Forecasting</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item" routerLinkActive="active" routerLink="/about">
        <a class="nav-link">About</a>
      </li>
    </ul>
    <form class="form-inline ms-2 my-2 my-lg-0">
      <button *ngIf="!isAuthorized" class="btn btn-outline-light my-2 my-sm-0" (click)="authorize()" type="button">
        <fa-icon [icon]="['fas', 'key']"></fa-icon>
        Authorize with YNAB
      </button>
      <button *ngIf="isAuthorized" class="btn btn-outline-light my-2 my-sm-0" (click)="logOut()" type="button">Log
        Out</button>
    </form>
  </div>
</nav>