/* You can add global styles to this file, and also import other style files */

.giant-icon {
    font-size: 10rem;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (prefers-color-scheme: dark) {
    .ngx-charts {
        fill: white;
    }

    .chart-legend .legend-label .active .legend-label-text {
        color: white !important;
    }

    .form-control {
        background: rgb(25, 25, 25);
        color: white;
    }

    .form-control:focus {
        background: black;
        color: white;
    }
}
