<h3>FI Date</h3>
<h2 class="text-success font-weight-bold">{{fiDate}} • {{dateDistance}}</h2>
<p>
  At a safe withdrawal rate of {{safeWithdrawalRate}}%,
  Financial Independence is reached at a Net Worth of {{safeWithdrawalTimes}} times annual expenses.
</p>
<p>
  With annual expenses of {{calculateInput.annualExpenses | number}},
  we're aiming for a Net Worth of {{fiNumber | number}}.
</p>
<p>
  At {{expectedAnnualGrowthRate}}% returns,
  that Net Worth is forecasted to be {{fiDate}}; {{dateDistance}} from the first month.
  <span *ngIf="fiMonthForecast">
    By that point, Net Worth is at {{fiMonthForecast.netWorth | number}}.
    Of that total, contributions account for {{fiMonthForecast.totalContributions | number}} while {{fiMonthForecast.totalInterestGains | number}} is earned interest.
  </span>
</p>
<p>
  <span class="font-weight-bold">Lean FI</span>: {{leanFiDate}} • {{leanFiDateDistance}}
</p>

